.sobreDescricao {
    color: #595959;
    font-weight: 100;
}
@media screen and (min-width: 0){
    .sobreDescricao {
      font-size: 1.3rem;
    }
  }
  @media screen and (min-width: 768px){
    .sobreDescricao{
      font-size: 1.75rem;
    }
  }